.skills {
    background-color: $bgc;

    .row-title {
      --text-after: "Skills";
        &:after {
            content: var(--text-after);
        }
    }

    .skills-text {
        padding: $base-p;
        width: 80%;
        font-size: 16px;
        line-height: 30px;
        color: white;

        @media(min-width:768px) {
            width: 100%;
        }


        .skills-single-icon {
            border-radius: 50%;
            overflow: hidden;
            height: 100px;
            width: 100px;
            margin: 20px; 
        }
    }

    .progress-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: $base-p;
        width: 80%;

        .technology,
        .description {
            color: $white;
        }

        .technology {
            font-size: 16px;
            font-weight: 500;
            line-height: 18px;
            margin: 10px 0 5px 0;
        }

        .progress-bar {
            height: 3px;
            background-color: $white;
            border-radius: 6px;

            .content {
                width: 80%;
                height: 100%;
                background-color: $yellow;
                position: relative;
                border-radius: 6px;
            }
        }
    }
}